:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(235, 235, 235);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

/* body * {
    outline: 1px solid red;
} */

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);
}

a {
    color: var(--clr-txt);
}

button {
    padding: 0.5rem;
}

button {
    font-size: larger;
}

button:hover,
button:focus,
button:focus-visible {
    background-color: green;
}

button:hover {
    cursor: pointer;
}